@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');
* {
  font-family: Rubik, 'sans-serif';
  box-sizing: border-box;
}

body {
  background: rgb(241, 161, 10);
  background: linear-gradient(90deg, rgba(241, 161, 10, 1) 0%, rgba(52, 35, 3, 1) 100%);
}